* {
  box-sizing: border-box;
  font-family: Verdana;
  font-size: 16px;
  font-weight: normal;
  text-decoration: none;
  color: black;
}

html, body, p {
	margin: 0;
	padding: 0;
	
}
html, body {
	height: 100%;
}
.naglowek {
	display: flex;
	flex-direction: row;
	padding: 30px;
	align-items:  center;
}
.cialo {
	display: flex;
	flex-direction: row;
	margin: 15px;
}

h1.tytul {
	margin-left: 15px;
	font-weight: bold;
	font-size: 2em;
	
}
nav {
	align-self: flex-start;
	display: flex;
	flex-grow: 2;
	
	justify-content: flex-end;


}
div.tytul-logo {
	
	border: 1px solid black;
	align-items:  center;
	flex-direction: row;
	
}
a {
	width: 75px;
}
article {
	margin: 15px;
	width: 100%;
	border: 2px solid black;
	display: flex;
	flex-direction: column;
}

article header {
	height: 50px;
	width: 50%;
	font-size: 1.5em;
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: flex-end;
	border-style: solid;
	border-color: black;
	border-width: 0px 0px 2px 2px;
	background-color: #D3D3D3;
}

article p {
	text-align: justify;
	padding: 15px;
}
.wrapper {
	min-height: 100%;
	margin-bottom: -115px;
}
.push {
	height: 115px;
}

footer {
	height: 100px;
	background-color: #D3D3D3;
	border-style: solid;
	border-color: black;
	border-width: 2px 0px 0px 0px;
	margin-top: 15px;
	display: flex;
	flex-direction: column;

	align-items: center;
	justify-content: center;
}
footer p + p {
	font-weight: bold;
}

.hamburger {
	display: none;
	justify-content: flex-end;
	align-self: flex-end;
	
}

@media all and (max-width: 900px) {
 main {
 flex-wrap: wrap;
 }
 h1.tytul, nav {
 	display: none;
 }
 img.hamburger {
 	display: block;
 	position: absolute;
 	right: 30px; 

 }

}